
@{
    ViewBag.Title = "CreateSuccess";
}

<h2>Admin Created</h2>
<p>Username: @ViewBag.username</p>
<p>Temporary Password: @ViewBag.password</p>

<br />
<p>@Html.ActionLink("Back to List", "Index")</p>